<head>
    <title>Bienvenido a Labit</title>
</head>

<!--div class="div-banner" style="z-index: 8; position: absolute; width: 100%">
    <img src="/images/log.png">
</div-->

<div class="container-fluid">
    <div>
        <div class="row" align="left" style="margin-top: 0px;">
            <div class="col-md-6" style="background: #CEECF5;">
                <img src="/images/logo_labit.png" class="logo">
                <b class="titulos">
                    Bienvenido a Labit
                </b>
            </div>

            <!--LOGIN-->
            <div class="col-md-6" style="background: #CEECF5; padding-top: 2px;">
                <form class="form-horizontal" role="form" action="/auth/local" method="post">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Username o Email</label>

                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="login-username" name="identifier"
                                   value="<%- req.flash('login-username') %>">
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">Password</label>

                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="login-pass" name="password">
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-default" id="login-submit">Sign in</button>
                        </div>
                    </div>
                </form>
                <section class="loginform cf">
                    <h3 id="login-errorForm" style="margin-top: 15px"> <%- req.flash('error') %> </h3>
                </section>

            </div>

            <div class="col-md-8">
                <br><br>

                <div style="margin-right: 40px">
                    <b>Labit</b> es una aplicación educacional que sirve para dar clases online en vivo.
                    Podes identificarte como profesor y tener varios cursos, compartir archivos, hacer preguntas,
                    ver la asistencia, entre otras cosas. O podes entrar como alumno para asistir a un curso y
                    seguir la clase y el material inspeccionando los archivos y contestando preguntas.
                </div>
                <img src="/images/pantHome.png">
            </div>

            <!--Formulario de Registracion-->
            <div class="container col-md-4"
                 style="background-color: white; border-radius: 20px; top: 20px; right: 20px">
                <h2>Regístrate en Labit</h2>

                <section class="registrationform cf">
                    <h3 id="errorForm" style="margin-top: 15px"> <%- req.flash('msgError') %> </h3>
                </section>

                <form role="form" action="auth/local/register" method="post">

                    <div>
                        <strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong>
                    </div>
                    <div class="form-group">
                        <label for="InputName">Ingrese su nombre</label>

                        <div class="input-group">
                            <input type="text" class="form-control" name="name" id="name"
                                   value="<%- req.flash('name') %>" required>
                                        <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputLastName">Ingrese su Apellido</label>

                        <div class="input-group">
                            <input type="text" class="form-control" name="lastName" id="lastName"
                                   value="<%- req.flash('lastName') %>" required>
                                        <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="InputUsername">Ingrese su Nombre de Usuario</label>

                        <div class="input-group">
                            <input type="text" class="form-control" name="username" id="username"
                                   value="<%- req.flash('username') %>" required>
                                        <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputEmail">Ingrese su Email</label>

                        <div class="input-group">
                            <input type="email" class="form-control" id="email" name="email"
                                   value="<%- req.flash('email') %>" required>
                                        <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="InputPassword">Ingrese contraseña</label>

                        <div class="input-group">
                            <input type="password" class="form-control" id="pass" name="password"
                                   required>
                                        <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="InputConfirmPassword">Confirme la contraseña</label>

                        <div class="input-group">
                            <input type="password" class="form-control" id="pass2" name="password2"
                                   required>
                                        <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="InputRole">Seleccione su rol</label>

                        <div class="input-group">
                            <input type="radio" name="role" value="student" checked>Estudiante<br>
                            <input type="radio" name="role" value="professor">Profesor
                        </div>
                    </div>

                    <input type="submit" name="submit" id="submit" value="Listo"
                           class="btn btn-info pull-right">
                </form>


            </div>

        </div>
    </div>
</div>